@model RegisterViewModel

<div class="card-body">
    <form role="form text-left" method="post">
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="İsim" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Soyisim" asp-for="Surname">
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Kullanıcı Adı" asp-for="Username">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" placeholder="E-Mail" asp-for="Email">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="Parola" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-check form-check-info text-left">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
            <label class="form-check-label" for="flexCheckDefault">
                Koşulları <a href="javascript:;" class="text-dark font-weight-bolder">Kabul Ediyorum</a>
            </label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Kayıt Ol</button>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        </div>
        <p class="text-sm mt-3 mb-0">Zaten Hesabım Var <a href="/Login/Index/" class="text-dark font-weight-bolder">Giriş Yap</a></p>
    </form>
</div>