
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="main-content position-relative max-height-vh-100 h-100 border-radius-lg" id="panel">
    <div class="container-fluid pt-3 mt-2">
        <div class="content-wrapper">
            @await Html.PartialAsync("~/Views/Mail/PartialView/MailMenuPartialView.cshtml")

            <section class="content">
                <div class="row">
                 
                    @await Html.PartialAsync("~/Views/Mail/PartialView/SolMenuPartialView.cshtml")
                   
                    @await Html.PartialAsync("~/Views/Mail/PartialView/GelenKutusuPartialView.cshtml")
                
                </div>
            </section>
        </div>
    </div>
</div>