


<div class="col-md-6">
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header p-3 pt-2 pb-0">

                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/1200px-Bitcoin.svg.png" class="rounded-circle shadow-4" style="width: 150px;" alt="Avatar" />

                    <div class="text-end pt-0 pb-1">
                        <p class="text-sm mb-0 text-capitalize">Anlık Değer</p>
                        <h4 class="mb-0">USD 53.5k</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>Haftalık Değer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header p-3 pt-2 pb-0">

                    <img src="https://www.spectre.ai/assets/images/assets/ETH-logo.png?v=2.13" class="rounded-circle shadow-4" style="width: 150px;" alt="Avatar" />

                    <div class="text-end pt-0 pb-1">
                        <p class="text-sm mb-0 text-capitalize">Anlık Değer</p>
                        <h4 class="mb-0">USD 12,8k</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>Haftalık Değer</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header p-3 pt-2 pb-0">

                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/George_Washington_Presidential_%241_Coin_obverse.png" class="rounded-circle shadow-4" style="width: 150px;" alt="Avatar" />

                    <div class="text-end pt-0 pb-1">
                        <p class="text-sm mb-0 text-capitalize">Anlık Değer</p>
                        <h4 class="mb-0">TRY 19.20</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>Haftalık Değer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header p-3 pt-2 pb-0">

                    <img src="https://static.vecteezy.com/system/resources/previews/014/226/325/original/euro-coin-icon-cartoon-style-vector.jpg" class="rounded-circle shadow-4" style="width: 150px;" alt="Avatar" />

                    <div class="text-end pt-0 pb-1">
                        <p class="text-sm mb-0 text-capitalize">Anlık Değer</p>
                        <h4 class="mb-0">EUR 21.23</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>Haftalık Değer</p>
                </div>
            </div>
        </div>
    </div>
</div>