   <div class="card p-3 mb-4">
    <div class="overflow-hidden position-relative border-radius-lg bg-cover h-500" style="background-image: url(https://n11scdn.akamaized.net/a1/org/22/11/09/85/77/64/66/89/75/76/49/12/53906338648426237661.jpg); height:25rem">
                    <div class="card-body position-relative z-index-1 d-flex flex-column h-500 p-3">
                    </div>
                </div>
            </div>
            
          @* <button type="button" class="btn bg-gradient-primary mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Launch demo modal
            </button>

             <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn bg-gradient-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>*@