
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("~/Views/Register/PartialView/HeaderPartialView.cshtml")

<body class="g-sidenav-show  bg-gray-100">

    @await Html.PartialAsync("~/Views/Register/PartialView/NavbarPartialView.cshtml")

    <section class="min-vh-100 mb-8">
        <div class="page-header align-items-start min-vh-20 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('/User/assets/img/curved-images/curved14.jpg');">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 text-center mx-auto">
                        <h1 class="text-white mb-2 mt-5">HOŞ GELDİN!</h1>
                        <p class="text-lead text-white"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-lg-n10 mt-md-n11 mt-n10">
                <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                    <div class="card z-index-0">

                        @await Html.PartialAsync("~/Views/Register/PartialView/TopPartialView.cshtml")

                        @await Html.PartialAsync("~/Views/Register/PartialView/FormPartialView.cshtml")

                    </div>
                </div>
            </div>
        </div>
    </section>

    @await Html.PartialAsync("~/Views/Register/PartialView/ScriptPartialView.cshtml")

</body>

</html>