<div class=" p-3 mb-4">
    <div class="overflow-hidden position-relative border-radius-lg bg-cover h-500" style="background-image: url(https://images5.alphacoders.com/312/thumb-1920-312793.jpg); height:23rem">
        <div class="card-body position-relative z-index-1 d-flex flex-column h-500 p-3">
        </div>
    </div>
</div>
