/* BEGIN EXTERNAL SOURCE */
img {
opacity: .8
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
canvas {
height: 180px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
width: 80%
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
width: 75%
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
width: 60%
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
width: 50%
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
overflow: hidden
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
height: 325px; overflow: hidden
}
/* END EXTERNAL SOURCE */
