
<div class="col-md-9 ">
    <div class="card card-primary card-outline">
        <div class="card-header ">
            <div class="row p-2 pb-0">

                <div class="col">
                    <div class="">
                        <h5 class="">Kimden : muhammet@gmail.com</h5>
                        <h6 class="">Konu : Lorem ipsum dolor</h6>
                    </div>
                </div>
                <div class="col d-flex justify-content-end">
                    <a href="compose.html" class="btn btn-secondary btn-block mb-3" style="font-size:18px"><</a>
                </div>

            </div>
        </div>



        <div class="card card-primary card-outline">
            <div class="card-body p-0">
                <div class="mailbox-read-message p-6 pt-1 pb-3">

                    <p>Hello John,</p>

                    <p>
                        Keffiyeh blog actually fashion axe vegan, irony biodiesel. Cold-pressed hoodie chillwave put a bird
                        on it aesthetic, bitters brunch meggings vegan iPhone. Dreamcatcher vegan scenester mlkshk. Ethical
                        master cleanse Bushwick, occupy Thundercats banjo cliche ennui farm-to-table mlkshk fanny pack
                        gluten-free. Marfa butcher vegan quinoa, bicycle rights disrupt tofu scenester chillwave 3 wolf moon
                        asymmetrical taxidermy pour-over. Quinoa tote bag fashion axe, Godard disrupt migas church-key tofu
                        blog locavore. Thundercats cronut polaroid Neutra tousled, meh food truck selfies narwhal American
                        Apparel.
                    </p>

                    <p>
                        Raw denim McSweeney's bicycle rights, iPhone trust fund quinoa Neutra VHS kale chips vegan PBR&amp;B
                        literally Thundercats +1. Forage tilde four dollar toast, banjo health goth paleo butcher. Four dollar
                        toast Brooklyn pour-over American Apparel sustainable, lumbersexual listicle gluten-free health goth
                        umami hoodie. Synth Echo Park bicycle rights DIY farm-to-table, retro kogi sriracha dreamcatcher PBR&amp;B
                        flannel hashtag irony Wes Anderson. Lumbersexual Williamsburg Helvetica next level. Cold-pressed
                        slow-carb pop-up normcore Thundercats Portland, cardigan literally meditation lumbersexual crucifix.
                        Wayfarers raw denim paleo Bushwick, keytar Helvetica scenester keffiyeh 8-bit irony mumblecore
                        whatever viral Truffaut.
                    </p>

                    <p>
                        Post-ironic shabby chic VHS, Marfa keytar flannel lomo try-hard keffiyeh cray. Actually fap fanny
                        pack yr artisan trust fund. High Life dreamcatcher church-key gentrify. Tumblr stumptown four dollar
                        toast vinyl, cold-pressed try-hard blog authentic keffiyeh Helvetica lo-fi tilde Intelligentsia. Lomo
                        locavore salvia bespoke, twee fixie paleo cliche brunch Schlitz blog McSweeney's messenger bag swag
                        slow-carb. Odd Future photo booth pork belly, you probably haven't heard of them actually tofu ennui
                        keffiyeh lo-fi Truffaut health goth. Narwhal sustainable retro disrupt.
                    </p>

                    <p>
                        Skateboard artisan letterpress before they sold out High Life messenger bag. Bitters chambray
                        leggings listicle, drinking vinegar chillwave synth. Fanny pack hoodie American Apparel twee. American
                        Apparel PBR listicle, salvia aesthetic occupy sustainable Neutra kogi. Organic synth Tumblr viral
                        plaid, shabby chic single-origin coffee Etsy 3 wolf moon slow-carb Schlitz roof party tousled squid
                        vinyl. Readymade next level literally trust fund. Distillery master cleanse migas, Vice sriracha
                        flannel chambray chia cronut.
                    </p>

                    <p>Thanks,<br>Jane</p>
                </div>

                <div class="card-footer p-4 pt-1 pb-2 d-flex justify-content-end">

                    <div class="mailbox-controls ">
                        <button type="button" class="btn bg-gradient-warning mb-4" style="margin-right:0.5rem">
                            <i class="fas fa-pencil-alt" style="margin-right:0.5rem"></i>Yanıtla
                        </button>



                        <button type="button" class="btn bg-gradient-secondary mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-right:0.5rem">
                            <i class="far fa-envelope" style="margin-right:0.5rem"></i>GÖNDER
                        </button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Mail Gönderilsin Mi ?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">İPTAL</button>
                                        <button type="submit" class="btn bg-gradient-primary">GÖNDER</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <button type="button" class="btn bg-gradient-danger mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="margin-right:0.5rem">
                            <i class="far fa-pencil-alt" style="margin-right:0.5rem"></i>SİL
                        </button>

                        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel1">Silmek İstediğinizden Emin Misiniz ?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">İPTAL</button>
                                        <button type="submit" class="btn bg-gradient-primary">SİL</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>  
                </div><br/>
            </div>
        </div>

    </div><br /><br /><br /><br />
</div>