
<div class="col-md-9">
    <div class="card card-primary card-outline  ">

        <div class="card card-primary card-outline bg-gradient-dark ">

            <div class="card-body">
                <div class="row form-group p-3">

                    <div class="col-md">
                        <input class="form-control" placeholder="Kime :">
                    </div>

                    <div class="col-md">
                        <input class="form-control" placeholder="Konu :">
                    </div>
                </div>

                <div class="form-group p-3 pt-1 pb-0 ">
                    <textarea id="compose-textarea" class="form-control" style="height: 400px"></textarea>
                </div>

                <div class="form-group p-3 pb-0 d-flex justify-content-end">
                    <div class="btn btn-default btn-file">
                        <input type="file" name="attachment">
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer d-flex justify-content-end p-4 pt-0 ">
                <div class="float-right">
                   
                    <button type="button" class="btn bg-gradient-warning mb-4" style="margin-right:0.5rem">
                        <i class="fas fa-pencil-alt" style="margin-right:0.5rem"></i>Düzenle
                    </button>



                    <button type="button" class="btn bg-gradient-secondary mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-right:0.5rem">
                        <i class="far fa-envelope" style="margin-right:0.5rem"></i>GÖNDER
                    </button>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Mail Gönderilsin Mi ?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">İPTAL</button>
                                    <button type="submit" class="btn bg-gradient-primary">GÖNDER</button>
                                </div>
                            </div>
                        </div>
                    </div>



                    <button type="button" class="btn bg-gradient-danger mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="margin-right:0.5rem">
                        <i class="far fa-pencil-alt" style="margin-right:0.5rem"></i>SİL
                    </button>

                    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel1">Silmek İstediğinizden Emin Misiniz ?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">İPTAL</button>
                                    <button type="submit" class="btn bg-gradient-primary">SİL</button>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <!-- /.card-footer -->
            </div>






        </div>

    </div>
</div>