<div class="col-md-3">
    <a href="/Mail/MailWrite" class="btn btn-primary btn-block mb-3 ">Yeni E-Posta</a>
    <div class="mt-2">
        <div class="">
            <h5 class="card-title">Klasörler</h5>
        </div>
    </div>

    <div class="card-body p-0">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item active">
                <a href="/Mail/Index/" class="nav-link">
                    <div class="row">

                        <div class="col-md-10">
                            <i class="fas fa-inbox" style="margin-right:0.3rem"></i> Gelen Kutusu
                        </div>
                        <div class="col-md-2">
                            <span class="badge bg-primary float-right">7</span>
                        </div>
                    </div>
                </a>
            </li>


            <li class="nav-item active">
                <a href="/Mail/Indexx/" class="nav-link">
                    <div class="row">
                        <div class="col-md-10">
                            <i class="far fa-envelope" style="margin-right:0.3rem"></i> Gönderilenler
                        </div>
                        <div class="col-md-2">
                            <span class="badge bg-success float-right">9</span>
                        </div>
                    </div>
                </a>
            </li>

            <li class="nav-item active">
                <a href="/Mail/Indexx/" class="nav-link">
                    <div class="row">
                        <div class="col-md-10">
                            <i class="far fa-file-alt" style="margin-right:0.3rem"></i> Taslaklar
                        </div>
                        <div class="col-md-2">
                            <span class="badge bg-warning float-right"></span>
                        </div>
                    </div>
                </a>
            </li>


            <li class="nav-item active">
                <a href="/Mail/Indexx/" class="nav-link">
                    <div class="row">
                        <div class="col-md-10">
                            <i class="fas fa-filter" style="margin-right:0.3rem"></i> Gereksiz
                        </div>
                        <div class="col-md-2">
                            <span class="badge bg-dark float-right">3</span>
                        </div>
                    </div>
                </a>
            </li>

            <li class="nav-item active">
                <a href="/Mail/Indexx/" class="nav-link">
                    <div class="row">
                        <div class="col-md-10">
                            <i class="far fa-trash-alt" style="margin-right:0.3rem"></i> Çöp Kutusu
                        </div>
                        <div class="col-md-2">
                            <span class="badge bg-danger float-right">2</span>
                        </div>
                    </div>
                </a>
            </li>

        </ul>
    </div>
    <!-- /.card-body -->
    <!-- /.card -->
    <div class="mt-4">
        <div class="">
            <h5 class="card-title">Etiketler</h5>
        </div>
        <div class="card-body p-0">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="/Mail/Indexx/" class="nav-link">
                        <i class="far fa-circle text-danger" style="margin-right:0.3rem"></i>
                        Kırmızı
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Mail/Indexx/" class="nav-link">
                        <i class="far fa-circle text-warning" style="margin-right:0.3rem"></i> Sarı
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Mail/Indexx/" class="nav-link">
                        <i class="far fa-circle text-success" style="margin-right:0.3rem"></i>
                        Yeşil
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>